<div class="footerContainer">
  <small
    >Pokémon and Pokémon GO are copyright of The Pokémon Company, Niantic, Inc.,
    and Nintendo. All trademarked images and names are property of their
    respective owners, and any such material is used on this site for
    educational purposes only.</small
  >
  <br />
  <small
    >A small project by an avid PvPer and developer
    <a href="https://github.com/sloonzz">sloonzz</a></small
  >
  <small>Powered by <a href="https://pokeapi.co/">PokéAPI</a></small>
</div>
