<div class="pokemonListContainer">
  <span class="trainerHeaderContainer">
    <h3 class="trainerHeader">
      {{ team === Team.A ? 'YOUR ' : "OPPONENT'S " }}
      BATTLE PARTY:
    </h3>
  </span>
  <ng-container *ngIf="chosenPokemon.length < 6">
    <mat-form-field>
      <input
        type="text"
        matInput
        [formControl]="pokemonAutocompleteControl"
        [matAutocomplete]="auto"
        (input)="validateAutocomplete()"
        placeholder="Type in a Pokémon name"
        autofocus
      />
    </mat-form-field>

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onChoosePokemon($event)"
      [autoActiveFirstOption]="true"
    >
      <ng-container *ngIf="!pokemonAutocompleteControl.invalid">
        <mat-option
          *ngFor="let pokemonName of searchResults$ | async"
          [value]="pokemonName"
          >{{ pokemonName | pokemonName }}</mat-option
        >
      </ng-container>
    </mat-autocomplete>
  </ng-container>

  <div class="chosenPokemonList">
    <ng-container *ngFor="let chosen of chosenPokemon">
      <div
        class="chosenPokemonItem cursorPointer"
        (click)="onRemovePokemon(chosen)"
      >
        <ng-container *ngIf="getPokemonSprite(chosen) | async as pokemonSprite">
          <img
            [src]="pokemonSprite"
            onerror="this.src='assets/placeholders/pokeball.png';"
            class="pokemonDisplay"
          />
        </ng-container>
        {{ chosen | pokemonName }}
      </div>
    </ng-container>
  </div>
  <button (click)="clearPokemon()" mat-raised-button color="warn">
    CLEAR SELECTION
  </button>
</div>
