<div class="mainContainer">
  <h1>
    Silph Format Pokémon GO battle!
  </h1>
  <p>
    Choose a party of six to battle with! To remove a Pokémon from the
    selection, simply tap on its sprite.
  </p>
  <small
    >Note: Some of the sprites may take time to load while others might not load
    at all as the assets are unavailable. Thank you for understanding.</small
  >
  <app-pokemon-list
    [allPokemonNames]="allPokemonNames$ | async"
    [team]="Team.A"
    (removePokemon)="refreshPage($event)"
    (choosePokemon)="refreshPage($event)"
  ></app-pokemon-list>
  <p>
    After choosing your party, click the COPY BATTLE LINK button and share it
    with your opponent. Ask your opponent to do the same.
  </p>
  <div class="inviteButtonContainer">
    <button
      class="inviteButton"
      appCopyClipboard
      [payload]="generateBattleLink()"
      (copied)="notifyCopy()"
      mat-raised-button
      color="primary"
    >
      <span class="buttonTextWhite">
        COPY BATTLE LINK
      </span>
    </button>
    <br />
    <small>...or if that didn't work, copy it yourself:</small>
    <mat-form-field>
      <input
        matInput
        type="text"
        [value]="generateBattleLink()"
        (click)="$event.target.select()"
      />
    </mat-form-field>
  </div>
  <app-pokemon-list
    [allPokemonNames]="allPokemonNames$ | async"
    [team]="Team.B"
    (removePokemon)="refreshPage($event)"
    (choosePokemon)="refreshPage($event)"
  ></app-pokemon-list>
  <app-footer></app-footer>
</div>
