<div class="mainContainer">
  <h1>
    Silph Format Pokémon GO battle!
  </h1>
  <p>
    Choose a party of 6 for you to battle!
  </p>
  <app-pokemon-list
    [allPokemonNames]="allPokemonNames$ | async"
    [team]="Team.A"
    (removePokemon)="refreshPage($event)"
    (choosePokemon)="refreshPage($event)"
  ></app-pokemon-list>
  <p>
    After selecting your party, press the copy battle link button below and send
    it to your opponent until you both have a complete party!
  </p>
  <div class="inviteButtonContainer">
    <button
      class="inviteButton"
      appCopyClipboard
      [payload]="generateBattleLink()"
      (copied)="notifyCopy()"
      mat-raised-button
      color="primary"
    >
      Click to copy battle link!
    </button>
  </div>
  <app-pokemon-list
    [allPokemonNames]="allPokemonNames$ | async"
    [team]="Team.B"
    (removePokemon)="refreshPage($event)"
    (choosePokemon)="refreshPage($event)"
  ></app-pokemon-list>
  <app-footer></app-footer>
</div>
