.mainContainer {
  margin: 24px;
}

.inviteButtonContainer {
  display: flex;
  flex-direction: column;
  .inviteButton {
    margin-top: 24px;
  }
}

.battleViewNoticeContainer {
  display: flex;
  flex-direction: column;
}

.buttonTextWhite {
  color: white;
}
